black==21.8b0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
flake8==3.9.2
flask-admin==1.5.8
flask-login==0.4.1
flask-mongoengine==1.0.0
flask-wtf==0.14.3
flask==1.1.2
gunicorn==20.1.0
idna==3.2
itsdangerous==1.1.0
jinja2==3.0.1
markupsafe==2.0.1
mccabe==0.6.1
mongoengine==0.23.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.3.0
pycodestyle==2.7.0
pyflakes==2.3.1
pymongo==3.11.3
regex==2021.8.28
tomli==1.2.1
typing-extensions==3.10.0.2
werkzeug==1.0.1
wtforms[email]==2.3.3
