@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* background color to the navigation */
.navigationbar {
  background-color: #333;
  overflow: hidden;
}

/* adding style to links in navigation bar*/
.navigationbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* highlight  links on hover */
.navigationbar a:hover {
  background-color: red;
  color: black;
}

.photo_main{
	width: 100%;
	height: 100%;
}
						/* Iphone 5 */
@media screen and (max-height: 568px) and (max-width : 320px) and (orientation: portrait) {
}

@media screen and (max-height: 568px) and (max-width : 320px) and (orientation: landscape) {
	/* same changes but on horizontal orientation */