{% extends "base.html" %}

{% block title %} Quiz - Game Overview {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="/assets/css/quiz/style.css">
{% endblock %}

{% block body %}

<div class="quiz-overview">
    <h3>List of quizes for <b>{{user.username|upper}}</b></h3>
    {% for quiz in users_quizes%}
        <div class="d-flex justify-content-left user-quiz-info">   
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"><b>Data Started:</b> {{quiz.date_started}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Score:</b> {{quiz.overall_score}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Completed:</b> {{quiz.is_done}}</h6>
                    <p class="card-text">{{quiz.description}}</p>
                </div>
                <div class="d-grid d-md-block button-wrapper" style="padding: 10px;">
                    {% if quiz.is_done %}
                        <a class="btn btn-secondary disabled" href="javascript:void(0)">Continue</a>
                    {% else %}
                        <a class="btn btn-secondary" href="{{ url_for('quiz_start', quiz_id=quiz.id)}}">Continue</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    

    <div class="row start-new">
        <form method="POST" action="{{url_for('quiz')}}">
            <input type="hidden" value="0" />
            <button type="submit" class="btn btn-secondary">Start New Quiz</button>
        </form>
    </div>
</div>

{% endblock body %}