{% extends "base.html" %}

{% block title %} Quiz - Game Overview {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="/assets/css/quiz/style.css">
{% endblock %}

{% block body %}

<div class="quiz-overview">
    <h3>List of quizes for <b>{{user.username|upper}}</b></h3>
    

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Started</th>
                <th scope="col">Overall Score</th>
                <th scope="col">Is Completed</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in users_quizes%}
            <tr>
                <th scope="row">*</th>
                <td>{{quiz.date_started}}</td>
                <td>{{quiz.overall_score}}</td>
                <td>{{quiz.is_done}}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ url_for('quiz_start', quiz_id=quiz.id)}}">Continue</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="row start-new">
        <form method="POST" action="{{url_for('quiz')}}">
            <input type="hidden" value="0" />
            <button type="submit" class="btn btn-secondary">Start New Quiz</button>
        </form>
    </div>
</div>

{% endblock body %}