{% extends "base.html" %}

{% block title %} Quiz - Home {% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block body %}
    <div class="banner">
        <img class="photo-main" src="assets/images/quiz-patterns-2.jpeg" alt="We're Sorry - It looks like your browser can not open this image">
        <div class="layer"></div>
    </div>

    <div class="quiz-welcome">
        <div class="justify-content-center" id="welcome">
            <div class="row">
                <div class="col-sm">
                    <div class="question-wrapper">
                        <i class="fas fa-question"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="welcome-text col-sm">
                    <h1 class="text-center">Quiz Competition</h1>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}
