<header class="p-3 bg-dark text-white" id="header-nav">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid"> 
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item home-link">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item quiz-link">
                        <a class="nav-link" href="/quiz/">Quiz</a>
                    </li>
                </ul>

                <ul class="navbar-nav col-auto mb-2 mb-sm-0 pull-right">
                    {% if not g.user %}
                        <a class="btn btn-outline-light me-2" href="/login/" role="button">Login</a>
                        <a class="btn btn-outline-light me-2" href="/register/" role="button">Register</a>
                    {% endif %}
                    
                    {% if g.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="user-icon"><i class="fas fa-user-circle"></i></span>{{g.user.username}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                {% if g.user.is_admin %}
                                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="/logout/">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>

</header>



