{% extends "base.html" %}

{% block body %}

<header>
			
	<nav>
		<ul class="navigationbar">
		
			<li>
			    <a href="index.html">Quiz</a>
			</li>
				
			<li>
			    <a href="login.html">login</a>
            </li>
            
			<li>
				<a href="register.html">register</a>
			</li>
				
			<li>
				<a href="admin.html">admin</a>
			</li>
				
		</ul>
	</nav>
</header>

<img class="photo_main" src="assets/images/photo_main.jpg" alt="We're Sorry - It looks like your browser can not open this image">
    

{% endblock body %}