% extends "base.html" %}

{% block body %}

<div>
    <h3>List of quizes for {{user.username}}</h3>
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Started</th>
                <th scope="col">Overall Score</th>
                <th scope="col">Is Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in users_quizes%}
            <tr>
                <th scope="row">*</th>
                <td>{{quiz.date_started}}</td>
                <td>{{quiz.overall_score}}</td>
                <td>{{quiz.is_done}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <form method="POST" action="{{url_for('quiz')}}">
        <input type="hidden" value="{{last_unfinished_quiz.id}}" name="quiz" />
        <button type="submit" class="btn btn-secondary" name="q_button">Continue</button>
    </form>

    <form method="POST" action="{{url_for('quiz')}}">
        <input type="hidden" value="0" name="quiz" />
        <button type="submit" class="btn btn-secondary" name="q_button">Start Quiz</button>
    </form>
</div>
