/* change navbar item color when on quiz */
.navbar-dark .navbar-nav .quiz-link a.nav-link {
    color: #fff;
    font-weight: 900;
}

/* guiz overview top position */
.quiz-overview {
    margin-top: 40px;
}

/* styling for h3 on overview */
.quiz-overview h3 {
    margin-bottom: 30px;
}


/* single question styling */
#quiz-question .card{
    min-width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#quiz-question .card .button-wrapper {
    padding: 10px;
}

#quiz-question .card .button-wrapper a {
    float: right;
}


/* quiz completed page top position */
#quiz-completed {
    margin-top: 20px;
}

/* styling for completed card */
#quiz-completed .card {
    padding: 40px 20px;
    box-shadow: 0 3px 3px #DEDEDE;
    margin: 0 auto;
}

#quiz-completed .card .checkmark-wrapper {
    text-align: center;
}

#quiz-completed .card  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}

/* user quiz info styling on overview page */
.user-quiz-info {
    margin-top: 10px;
}


.user-quiz-info .card {
    box-shadow: 0 3px 3px #DEDEDE;
}

.user-quiz-info .card h6 b {
    font-weight: 900;
}

/* styling for a start another quiz button */
.start-new {
    margin-top: 20px;
    margin-bottom: 40px;
}