.quiz-overview {
    margin-top: 40px;
}

.quiz-overview h3 {
    margin-bottom: 30px;
}


#quiz-question .card{
    min-width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#quiz-question .card .button-wrapper {
    padding: 10px;
}

#quiz-question .card .button-wrapper a {
    float: right;
}


#quiz-completed {
    margin-top: 20px;
}

#quiz-completed .card {
    padding: 40px 20px;
    box-shadow: 0 3px 3px #DEDEDE;
    margin: 0 auto;
}
#quiz-completed .card .checkmark-wrapper {
    text-align: center;
}
#quiz-completed .card  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}