{% extends "base.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="../assets/css/accounts/auth.css">
{% endblock %}

{% block body %}

    {% from "includes/_formhelpers.html" import render_field %}

    <div class="row-fluid">
        <div class="d-flex justify-content-center auth">
            <div class="card card-container">
                <h2>Login</h2>
                <form method="post" action="login" class="form-login">
                    <div class="item">
                        {{ render_field(form.username, placeholder_text="Username", class="form-control") }}
                    </div>

                    <div class="item">
                            {{ render_field(form.password, type="password", placeholder_text="Password", class="form-control") }}
                    </div>

                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                    
                </form>
            </div>
        </div>
    </div>

{% endblock body %}